pip install flask langchain-groq langchain-community transformers faiss-cpu python-dotenv
pip install sentence-transformers
pip install deep-translator
pip install gTTS
pip install fpdf
pip install python-docx
pip install PyPDF2
pip install -U langchain-huggingface
